body {
  background-color: rgb(252, 212, 212);
  text-align: center;
}

h1 {
  text-align: center;
 font-size: 75px;
  font-family: 'Indie Flower';
color: black;
}

h1.light {
  font-weight: lighter;
}

div.display {

}
